name: Deploy to GitHub Pages

on:
    push:
        paths:
            - "projects.json"
            - "career.json"
            - "src/**"
            - "public/**"
            - ".github/workflows/deploy.yml"
        branches:
            - main

jobs:
    build-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "18"

            - name: Install dependencies
              run: npm ci

            - name: Build project
              run: npm run build

            - name: Deploy to GitHub Pages
              run: npm run deploy

              env:
                  CI: true
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
